<fieldset>
  <legend>Address</legend>
  <div class="address">
    <div class="field">
      <%= f.label :line1, 'Line 1' %>
      <%= f.text_field :line1 %>
    </div>

    <div class="field">
      <%= f.label :line2, 'Line 2' %>
      <%= f.text_field :line2 %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, :size => 3 %>
    </div>

    <div class="field">
      <%= f.label :postcode, 'Post Code' %>
      <%= f.text_field :postcode, :size => 4 %>
    </div>
  </div>
</fieldset>
