<p id="notice"><%= notice %></p>
<% if alert %>
	<div id="error_explanation">
		<h2><%= alert %></h2>
	</div>
<% end %>

<%= link_to 'Edit My Profile', edit_researcher_path(@researcher) %> |
<%= link_to 'View My Profile', researcher_path(@researcher) %> |
<%= link_to 'My Research', research_researcher_path(@researcher) %> 
