<ul class='navigation'>
</ul>

<!-- Search Form -->
<%= form_tag(researchers_path, :method => "get", :class => 'search_form') do %>
<fieldset>  
  <%= label_tag(:search, "Search by Name:") %>
  <%= search_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search", :class => "submit") %>
</fieldset>  
<% end %>

<h1>Listing Researchers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
    <th></th>
  </tr>

<%= will_paginate @researchers %>
<% @researchers.each_with_index do |researcher, index| %>
  <% css_class = index.odd? ? "odd" : "even" %>
  <tr class='<%= css_class %>'>
    <td><%= researcher.name %></td>
    <td><%= researcher.title %></td>
    <td><%= researcher.email %></td>
    <td><%= link_to 'Profile', researcher %></td>
  </tr>
<% end %>
</table>

<br />
