<h1><%= @researcher.name %></h1>

<h2><%= @researcher.title %></h2>

<div class='address'>
  <p><%= @researcher.address %></p>
</div>

<%= link_to 'Edit', edit_researcher_path(@researcher) %> |
<%= link_to 'Back', researchers_path %>
