<p id="notice"><%= notice %></p>
<% if alert %>
	<div id="error_explanation">
		<h2><%= alert %></h2>
	</div>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @researcher.posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
  </tr>
<% end %>
</table>
