<% if @researcher == logged_in_researcher %>
	<div class='sub_navigation navigation'>
		<ul>
			<li><%= link_to 'My Profile', researcher_path(@researcher) %></li>
		</ul>
		<ul class='actions'>
			<li><%= link_to 'New Research Post', new_post_path %></li>
		</ul>
	</div>
<% else%>
	<div class='sub_navigation navigation'>
		<ul>
			<li><%= link_to "#{@researcher.name}'s Profile", researcher_path(@researcher) %></li>
		</ul>
	</div>
<% end %>

<h1><%= @researcher.name %> - Research Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <td></td>
    <td></td>
  </tr>

<% @researcher.posts.each_with_index do |post, index| %>
  <% css_class = index.odd? ? "odd" : "even" %>
  <tr class='<%= css_class %>'>
    <td><%= post.title %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
<% end %>
</table>

