<p>
  <b>JC Number:</b>
  <%= @researcher.jc_number %>
</p>

<p>
  <b>Name:</b>
  <%= @researcher.name %>
</p>

<p>
  <b>Title:</b>
  <%= @researcher.title %>
</p>

<p>
  <b>Address:</b>
  <%= raw @researcher.address.to_html if @researcher.address %>
</p>


<% if @researcher == logged_in_researcher %>
	<%= link_to 'Edit My Profile', edit_researcher_path(@researcher) %> |
<% end %>
