<div class='sub_navigation navigation'>
<% if @researcher == logged_in_researcher %>
	<ul class='navigation sub_navigation'>
		<li><%= link_to 'My Research', research_researcher_path(@researcher) %></li>
	</ul>
	<ul class='actions'>
		<li><%= link_to 'Edit Profile', edit_researcher_path(@researcher) %></li>
	</ul>
<% else %>
	<ul class='navigation sub_navigation'>
		<li><%= link_to "#{@researcher.name}'s Research", research_researcher_path(@researcher) %></li>
	</ul>
<% end %>
</div>

<p>
  <b>JC Number:</b>
  <%= @researcher.jc_number %>
</p>

<p>
  <b>Email:</b>
  <%= @researcher.email%>
</p>

<p>
  <b>Name:</b>
  <%= @researcher.name %>
</p>

<p>
  <b>Title:</b>
  <%= @researcher.title %>
</p>

<p>
  <b>Address:</b>
  <%= render :partial => 'shared/address', :locals => {:address => @researcher.address } %>
</p>
