<p>
  <b>JC Number:</b>
  <%= @researcher.jc_number %>
</p>

<p>
  <b>Name:</b>
  <%= @researcher.name %>
</p>

<p>
  <b>Title:</b>
  <%= @researcher.title %>
</p>

<p>
  <b>Address:</b>
  <%= raw @researcher.address.to_html if @researcher.address %>
</p>

<% if @researcher == logged_in_researcher %>
	<div class='sub_navigation navigation'>
		<ul class='navigation sub_navigation'>
			<li><%= link_to 'Edit My Profile', edit_researcher_path(@researcher) %></li>
		</ul>
	</div>
<% end %>
