<% content_for :title do %>
	<%= "#{@researcher.name}'s Profile" %>
<% end %>

<% if @researcher == logged_in_researcher %>
	<div class='sub_navigation navigation'>
		<ul class='navigation sub_navigation'>
			<li class='current'><%= link_to 'My Profile', researcher_path(@researcher) %></li>
			<li><%= link_to 'My Posts', posts_researcher_path(@researcher) %></li>
		</ul>
	</div>
	<div class='sub_navigation navigation actions'>
		<ul>
			<li><%= link_to 'Edit Profile', edit_researcher_path(@researcher) %></li>
		</ul>
	</div>
<% else %>
	<div class='sub_navigation navigation'>
		<ul class='navigation sub_navigation'>
			<li class='current'><%= link_to "#{@researcher.name}'s Profile", researcher_path(@researcher) %></li>
			<li><%= link_to "#{@researcher.name}'s Posts", posts_researcher_path(@researcher) %></li>
		</ul>
	</div>
<% end %>

<p>
  <b>Email:</b>
  <%= mail_to(@researcher.email) %>
</p>

<p>
  <b>Name:</b>
  <%= @researcher.name %>
</p>

<p>
  <b>Title:</b>
  <%= @researcher.title %>
</p>

<p>
  <b>Address:</b>
  <%= render :partial => 'shared/address', :locals => {:address => @researcher.address } %>
</p>
