<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @researcher.name %>
</p>

<p>
  <b>Jc number:</b>
  <%= @researcher.jc_number %>
</p>

<p>
  <b>Title:</b>
  <%= @researcher.title %>
</p>

<p>
  <b>Moderator:</b>
  <%= @researcher.moderator %>
</p>

<p>
  <b>Email:</b>
  <%= @researcher.email %>
</p>

<p>
  <b>Slug:</b>
  <%= @researcher.slug %>
</p>


<%= link_to 'Edit', edit_researcher_path(@researcher) %> |
<%= link_to 'Back', researchers_path %>
