<% content_for :title do %>
	<%= "Edit Profile" %>
<% end %>

<% content_for :navigation do %>
  <div class='sub_navigation'>
    <ul class='navigation sub_navigation'>
      <li class='current'><%= link_to 'My Profile', researcher_path(@researcher) %></li>
      <li><%= link_to 'My Posts', posts_researcher_path(@researcher) %></li>
    </ul>
  </div>
<% end %>

<h1>Edit Profile</h1>

<%= render 'form' %>

<h1>Edit Notification Preferences</h1>
<%= render :partial => 'researchers/tag_adjuster', :locals => { :researcher => @researcher, :tags => (@researcher.liked_tags + @researcher.disliked_tags ) } %>
