<% content_for :title do %>
	<%= "Researchers" %>
<% end %>

<!-- Search Form -->
<%= form_tag(researchers_path, :method => "get", :class => 'search_form') do %>
  <fieldset>  
    <legend>Search By</legend>
	  <div class="field">
      <%= label_tag(:search_name, "Name:") %>
      <%= search_field_tag(:search_name, params[:search_name]) %>
    </div>
  </fieldset>  
  <div class="actions">
    <%= submit_tag("Search", :class => "submit") %>
  </div>
  <div class="clearer"></div>
<% end %>

<h1>Listing Researchers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
  </tr>

<%= will_paginate @researchers %>
<% @researchers.each_with_index do |researcher, index| %>
  <tr>
    <td><%= link_to researcher.name, researcher %></td>
    <td><%= researcher.title %></td>
    <td><%= mail_to(researcher.email) %></td>
  </tr>
<% end %>
</table>
