<% content_for :title do %>
	<%= "Researchers" %>
<% end %>

<!-- Search Form -->
<%= form_tag(researchers_path, :method => "get", :class => 'search_form') do %>
  <fieldset class="ui-widget ui-widget-content">  
    <legend class="ui-widget ui-widget-header">Search By</legend>
	  <div class="field">
      <%= label_tag(:search_name, "Name:", :class => "ui-widget-header") %>
      <%= search_field_tag(:search_name, params[:search_name]) %>
    </div>
    <div class="actions">
      <%= submit_tag("Search", :class => "submit hover-button ui-state-default") %>
    </div>
  </fieldset>  
<% end %>

<h1>Listing Researchers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
  </tr>

<%= will_paginate @researchers %>
<% @researchers.each_with_index do |researcher, index| %>
  <% css_class = index.odd? ? "odd" : "even" %>
  <tr class='<%= css_class %>'>
    <td><%= link_to researcher.name, researcher %></td>
    <td><%= researcher.title %></td>
    <td><%= mail_to(researcher.email) %></td>
  </tr>
<% end %>
</table>
