<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" href="<%= posts_researcher_path(@researcher, :rss) %>" title="Posts by <%= @researcher.name%> RSS Feed">
<% end %>

<% content_for :title do %>
	<%= "#{@researcher.name}'s Posts" %>
<% end %>

<div class='navigation'>
  <% if @researcher == logged_in_researcher %>
    <div class='sub_navigation'>
      <ul>
        <li><%= link_to "My Profile", researcher_path(@researcher), :class => 'ui-state-default ui-corner-all hover-button' %></li>
        <li class='current'><%= link_to "My Posts", posts_researcher_path(@researcher), :class => 'ui-state-default ui-corner-all ui-state-hover' %></li>
      </ul>
    </div>
    <div class='sub_navigation actions'>
      <ul>
        <li><%= link_to 'New Post', new_post_path, :class => "ui-state-default ui-corner-all hover-button" %></li>
      </ul>
    </div>
  <% else%>
    <div class='sub_navigation'>
      <ul>
        <li><%= link_to "#{@researcher.name}'s Profile", researcher_path(@researcher), :class => "ui-state-default ui-corner-all hover-button" %></li>
        <li class='current'><%= link_to "#{@researcher.name}'s Posts", posts_researcher_path(@researcher), :class => 'ui-state-default ui-corner-all ui-state-hover' %></li>
        <li><%= link_to "#{@researcher.name}'s Posts RSS Feed", posts_researcher_path(@researcher, :rss), :class => "ui-state-default ui-corner-all hover-button ui-priority-secondary" %></li>
      </ul>
    </div>
  <% end %>
</div>
<div class='clearer'></div>

<h1><%= @researcher.name %> - Posts</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @researcher.posts.each_with_index do |post, index| %>
  <% css_class = index.odd? ? "odd" : "even" %>
  <tr class='<%= css_class %>'>
    <td><%= link_to post.title, post%></td>
  </tr>
<% end %>
</table>

