<% content_for :title do %>
	<%= "#{@researcher.name}'s Profile" %>
<% end %>

<% content_for :navigation do %>
  <% if @researcher == logged_in_researcher %>
      <div class='sub_navigation'>
        <ul>
          <li class='current'><%= link_to 'My Profile', researcher_path(@researcher) %></li>
          <li><%= link_to 'My Posts', posts_researcher_path(@researcher) %></li>
          <li><%= link_to 'My Personal RSS Feed', account_researcher_path(@researcher, :rss), :class => 'ui-priority-secondary' %>           </li>
        </ul>
      </div>
      <div class='sub_navigation actions'>
        <ul>
          <li><%= link_to 'Edit Profile', edit_researcher_path(@researcher) %></li>
        </ul>
      </div>
  <% else %>
      <div class='sub_navigation'>
        <ul class='navigation sub_navigation'>
          <li class='current'><%= link_to "#{@researcher.name}'s Profile", researcher_path(@researcher) %></li>
          <li><%= link_to "#{@researcher.name}'s Posts", posts_researcher_path(@researcher) %></li>
        </ul>
      </div>
  <% end %>
<% end %>


<h1>Profile</h1>
<div class='profile'>
  <div class='profile_image align_right'>
    <%= image_tag @researcher.profile_image.url(:small) %>
  </div>

  <p>
    <span class='label'>Title:</span>
    <%= @researcher.title %>
  </p>

  <p>
    <span class='label'>Name:</span>
    <%= @researcher.name %>
  </p>

  <p>
    <span class='label'>Email:</span>
    <%= mail_to(@researcher.email) %>
  </p>
  

  <%= render :partial => 'shared/address', :locals => {:address => @researcher.address } %>

  <p>
    <span class='label'>Liked Tags:</span>
    <%= @researcher.liked_tag_list.sort().join(', ') %>
  </p>

</div>
  
<h2>Researchers with Similar Interests</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
  </tr>

<% @researcher.find_related_liked_tags(:limit => Researcher::RELATED_ITEM_LIMIT).each_with_index do |researcher, index| %>
  <tr>
    <td><%= link_to researcher.name, researcher %></td>
    <td><%= researcher.title %></td>
    <td><%= mail_to(researcher.email) %></td>
  </tr>
<% end %>
</table>
