<%= render :partial => 'layouts/head' %>

<div class='navigation'>
<% if logged_in? %>
	<div class='main_navigation'>
		<ul>
      <li><%= link_to "Home", home_path, :class => 'ui-state-default ui-corner-all hover-button' %></li>
      <li><%= link_to "My Account", account_researcher_path(logged_in_researcher), :class => 'ui-state-default ui-corner-all hover-button' %></li>
      <li><%= link_to "Posts", posts_path, :class => 'ui-state-default ui-corner-all ui-state-hover hover-button' %></li>
      <li><%= link_to "Researchers", researchers_path, :class => 'ui-state-default ui-corner-all hover-button' %></li>
		</ul>
	</div>
	<div class='session_navigation'>
		<ul class='actions'>
      <li><%= link_to "Logout: #{logged_in_researcher.name}", :session, {:method => :delete}, :class => 'ui-state-default ui-corner-all hover-button %></li>
		</ul>
	</div>
<% else %> 
	<div class='main_navigation'>
		<ul>
      <li><%= link_to "Home", home_path, :class => 'ui-state-default ui-corner-all hover-button %></li>
		</ul>
	</div>
	<div class='session_navigation'>
		<ul class='actions'>
      <li><%= link_to "Login", new_session_path, :class => 'ui-state-default ui-corner-all hover-button %></li>
		</ul>
	</div>
<% end %>
</div>


<%= yield %>

</body>
</html>
