<% content_for :title do %>
	<%= "Posts" %>
<% end %>

<div class='sub_navigation navigation actions'>
	<ul>
		<li><%= link_to 'New Research Post', new_post_path %></li>
	</ul>
</div>


<!-- Search Form -->
<%= form_tag(posts_path, :method => "get", :class => 'search_form') do %>
<fieldset>  
  <%= label_tag(:search, "Search by Title:") %>
  <%= search_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search", :class => "submit") %>
</fieldset>  
<% end %>

<h1>Listing Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <td></td>
    <td></td>
  </tr>

<%= will_paginate @posts %>
<% @posts.each_with_index do |post, index| %>
  <% css_class = index.odd? ? "odd" : "even" %>
  <tr class='<%= css_class %>'>
    <td><%= post.title %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
<% end %>
</table>
