<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" href="<%= post_url(@post, :rss) %>" title="Post: <%= @post.title %> RSS Feed">
<% end %>

<% content_for :title do %>
	<%= "Post: #{@post.title}" %>
<% end %>

<h1 class="title"><%= @post.title %></h1>
<h2 class="author">Author: <%= @post.researcher.name %></h2>


<div class="content">
  <%= raw @post.content_as_html %>
</div>

<div class="tags">
  <p><span class='tag_title'>Tags</span>: <span class='tag_list'><%= @post.tag_list %></span></p>
</div>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
	<div class='comment'>
	<h3 class="commentor_name"><%= comment.researcher.name %></h3>
		<div class='body'>
			<%= raw comment.body_as_html %>
		</div>
	</div>

<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
	<fieldset>  
    <legend>Add A Comment</legend>
		<div class="field">
			<%= f.label :body, "Comment"%><br />
			<%= f.text_area :body %>
		</div>
    <%= render :partial => "markdowns/preview_markdown_input", :locals => { :source_field => "comment_body" } %>
		<div class="actions">
			<%= f.submit 'Comment', :class => "submit" %>
		</div>
	</fieldset>  
<% end %>
