<% content_for :title do %>
	<%= "Post: #{@post.title}" %>
<% end %>

<h1 class="title"><%= @post.title %></h1>
<h2 class="author">Author: <%= @post.researcher.name %></h2>

<div class="content">
  <%= raw @post.content_as_html %>
</div>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
	<div class='comment'>
	<h3 class="commentor_name"><%= comment.researcher.name %></h3>
		<div class='body'>
			<%= raw comment.body_as_html %>
		</div>
	</div>

<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
	<fieldset>  
		<div class="field">
			<%= f.label :body%><br />
			<%= f.text_area :body %>
		</div>
		<div class="actions">
			<%= f.submit 'Comment', :class => "submit" %>
		</div>
	</fieldset>  
<% end %>
