<% if address %>
<div class='address'>
	<p class="address"> 
      <span class='label'>Address:</span>
      <span class="value line1"><%= address.line1 %></span> 
      <span class="value line2"><%= address.line2 %></span> 
      <span class="value city"><%= address.city %></span> 
      <span class="value state"><%= address.state %></span> 
      <span class="value postcode"><%= address.postcode %></span> 
	</p> 
</div> 
<div class='clearer'></div> 
<% end %>
