<%= form_for(@post) do |f| %>
  <fieldset>
  <% if @post.errors.any? %>
    <div class='ui-state-error'>
      <p class=''>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
        <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
      </p>

		  <ul>
		  <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :class => 'markdown_input' %>
  </div>
  <div id="model_tags" class="field">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>     
  </div>

  </fieldset>

  <div class="actions">
    <%= f.submit :class => "submit" %>
  </div>
  <div class="clearer">
  </div>

<% end %>
