<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" href="<%= account_researcher_path(@researcher, :rss) %>" title="<%= @researcher.name %>'s Personal RSS Feed">
<% end %>

<% content_for :title do %>
	<%= "My Account" %>
<% end %>

<% content_for :navigation %>
  <div class='sub_navigation'>
    <ul class='links'>
      <li><%= link_to 'My Profile', researcher_path(@researcher) %>               </li>
      <li><%= link_to 'My Posts', posts_researcher_path(@researcher) %>           </li>
      <li><!-- TODO - View Notification Preferences -->                           </li>
    </ul>
  </div>

  <div class='sub_navigation feeds'>
    <ul>
      <li><%= link_to 'My Personal RSS Feed', account_researcher_path(@researcher, :rss), :class => 'ui-priority-secondary' %>           </li>
    </ul>
  </div>
<% end %>
