<% content_for :title do %>
	<%= "Login" %>
<% end %>
<!-- START:form --> 
<%= form_for :session, :url => { :action => "create" } do |f| %>
<fieldset>  
  
  <p>        
    <%= f.label :login, { :class => "required" } %>
    <%= text_field_tag :login, params[:login] %>
  </p> 
  <p> 
    <%= f.label :password, { :class => "required" } %>
    <%= password_field_tag :password, params[:password] %>
  </p> 
  <p> 
	<%= f.submit 'Log In', :class => "submit" %>
  </p> 
</fieldset> 
<% end %>
<!-- END:form --> 
