<%= render :partial => 'layouts/head' %>

<div class='navigation_wrapper ui-helper-clearfix'>
  <div class='navigation'>
    <div class='main_navigation'>
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li class='current'><%= link_to "My Account", account_researcher_path(logged_in_researcher) %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Researchers", researchers_path %></li>
      </ul>
    </div>
    <div class='session_navigation'>
      <ul class='actions'>
        <li><%= link_to "Logout: #{logged_in_researcher.name}", :session, :method => :delete, :class => 'ui-priority-secondary' %></li>
      </ul>
    </div>
  </div>
  <div class='navigation'>
    <%= yield(:navigation) %>
  </div>
</div>


<%= yield %>

</body>
</html>
