<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

<% if alert %>
	<div id="error_explanation">
		<h2><%= alert %></h2>
	</div>
<% end %>

<% if notice %>
	<p class='notice'><%= notice %></p>
<% end %>

<% if logged_in? %>
	<div class='main_navigation navigation'>
		<ul>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "My Account", account_researcher_path(logged_in_researcher) %></li>
			<li><%= link_to "Research", posts_path %></li>
			<li><%= link_to "Researchers", researchers_path %></li>
		</ul>
	</div>
	<div class='session_navigation navigation'>
		<ul class='actions'>
			<li><%= link_to "Logout", :session, {:method => :delete} %></li>
		</ul>
	</div>
<% else %> 
	<div class='main_navigation navigation'>
		<ul>
			<li><%= link_to "Home", home_path %></li>
		</ul>
	</div>
	<div class='session_navigation navigation'>
		<ul class='actions'>
			<li><%= link_to 'Login', new_session_path %></li>
		</ul>
	</div>
<% end %>


<%= yield %>

</body>
</html>
